@charset "utf-8";
/* CSS Document */
.container {
	font-family: Arial, Helvetica, "sans-serif";
	width: 100%;
    padding: 0 15px;
    text-align: center;
}

header {
	background-color: #5F6063;
	height: 65px;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header-left h1 {
	color: white;
	float: left;
	font-size: 30px;
}

.header-right a {
	float: right;
	list-style: none;
	padding: 20px 25px;
	color: white;
}

.top-wrapper {
	background-image: url(cafe931.bf.jpg);
}

.top-wrapper h1 {
	background-color: aliceblue;
}

.contact p {
	float: right;
}
